/* Start Main Code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

/* End Main Code */



/* Start Header */

.header {
    background: url(../images/header.jpg) center no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;

    position: relative;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 116, 130, .5);
}

.header .overlay h1 {
    font-size: 60px;
    text-shadow: 0px 0px 10px black;
    margin-top: 100px;
}

.header .overlay .plan {
    border: 2px solid white;
    padding: 20px;
    width: 50%;
    float: left;
}

@media (max-width: 767px) {

    .header .overlay .container .plan {
        float: none;
        margin: 30px auto;
    }
}

/* End Header */



/* Start Franework */

.container {
    margin: 0xp auto;
    padding: 0px 15px;
}

.t-center {
    text-align: center;
}

/* End Framework */



@media (max-width: 767px) { /* Mobile And Tablet Screen Rules */
    
}

@media (min-width: 768px) { /* Small Screen Rules */
    .container {
        width: 750px;
    }
}

@media (min-width: 992px){ /* Medium Screen Rules */
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) { /* Large Screen Rules */
    .container {
        width: 1170px;
    }
}